@{
    ViewData["Title"] = "Kontakta";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h6>Om du har frågor eller funderingar är du alltid välkommen att höra av dig till oss. Du kan mejla, ringa vår Kundservice eller kontakta något av våra lokalkontor. 
Vi finns även på Facebook, Twitter, Instagram och LinkedIn.</h6>
<address>
    WTC, Klarabergsviadukten 70
    Hus D, Plan 5
    <br />
    111 64 Stockholm<br />
    <abbr title="Phone">Kundservice</abbr>
    0771-650 600, Vardagar 8-16.30
</address>

<address>
    <strong>Kundservice</strong> <a href="info@lernia.se">info@lernia.se</a><br />
</address>
